.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* CSS for header */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header-icon{
  padding: 20px;
}
.tinder_logo{
  object-fit: contain;
  height: 40px;
}

/* CSS for TinderCards component */

.tinderCards{
  width: 100%;
  display: flex;
  justify-content: center;
}
.card{
  position: relative;
  width: 400px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 0 0 30px 5px rgba(136, 136, 136, 0.5);
}
.card h3{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 7px;
  font-size: 20px;
  color: #fff
}
.tinderCards__cardContainer{
  display: flex;
  justify-content: center;
}
.swipe{
  position: absolute;
}

/* CSS for SwipeButtons */

.swipeButtons{
  width: 100%;
  position: fixed;
  bottom: 6vh;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root{
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(136, 136, 136, 0.5);
}
.swipeButtons__repeat{
  padding: 20px !important;
  color: #f5b748 !important;
}
.swipeButtons__left{
  padding: 20px !important;
  color: #ec5e6f !important;
}
.swipeButtons__star{
  padding: 20px !important;
  color: #62b4f9 !important;
}
.swipeButtons__right{
  padding: 20px !important;
  color: #76e2b3 !important;
}
.swipeButtons__lightning{
  padding: 20px !important;
  color: #915dd1 !important;
}